.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.list {
    width: 100%;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
}
.item {
    width: 100%;
    height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
}
.item-btn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #666;
    font-weight: 500;
}
