// responsive

// mobile < 740px
@media only screen and (max-width: 739px) {
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        display: flex;
        gap: 1.8rem;
    }
    .itemBtn {
        min-width: 8rem;
        height: 6rem;
    }
}
// tablet (740px - 1024px)
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        display: flex;
        gap: 1.8rem;
    }
    .itemBtn {
        min-width: 15rem;
        height: 6rem;
    }
}
// desktop >= 1024px
@media only screen and (min-width: 1024px) and (max-width: 1399px) {
    .wrapper {
        width: var(--width-sidebar-wrapper);
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .itemBtn {
        height: 7.2rem;
    }
}
//  > 1400
@media only screen and (min-width: 1400px) {
    .wrapper {
        width: var(--width-sidebar-wrapper);
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .itemBtn {
        height: 7.2rem;
    }
}
.wrapper {
    height: 100%;
}
.container {
    padding: 1.6rem 8px;
    row-gap: 4px;
}
.itemBtn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--black-color);
    border-radius: 8px;
    color: #1a1a1a;
    &:hover {
        background: #e3e3e3;
    }
}

.active {
    background: #e8ebed;
}
